In [1]:
import wrds
db= wrds.Connection()

Enter your WRDS username [Administrator]:lagaras2
Enter your password:········
WRDS recommends setting up a .pgpass file.
You can find more info here:
https://www.postgresql.org/docs/9.5/static/libpq-pgpass.html.
Loading library list...
Done

In [2]:
data = db.get_table(library='ibes',table = 'STATSUM_EPSUS',
                   columns=['TICKER','CUSIP','CNAME','STATPERS','MEASURE','FISCALP','FPI','MEDEST','MEANEST','USFIRM'])

NameError: name 'db' is not defined

In [ ]:
,columns=['TICKER','CUSIP','OFTIC','CNAME','STATPERS','MEASURE','FISCALP','FPI','ESTFLAG','NUMEST','NUMUP','NUMDOWN','MEDEST','MEANEST','STDEV','HIGHEST','LOWEST','USFIRM','FPEDATS']

In [30]:
import pandas as pd
import numpy as np

In [39]:
bp = pd.read_csv('F:/pbcsf tasks/Momentum Strategy/NYSE_breakpoints.csv')

In [48]:
bp_yearmonth = bp.groupby(['yearmonth'])['REV6'].describe(percentiles=[0, .1, .2, .3, .4,.5,.6,.7,.8,.9, 1]).reset_index().drop(['count','mean','std','min','max'], axis=1)

In [49]:
bp_yearmonth=bp_yearmonth.rename(columns={'0%':'pct0', '10%':'pct10', '20%':'pct20','30%':'pct30', \
                                '40%':'pct40','50%':'pct50','60%':'pct60','70%':'pct70',\
                                '80%':'pct80','90%':'pct90','100%':'pct100'})

In [50]:
bp_yearmonth.head(10)

,yearmonth,pct0,pct10,pct20,pct30,pct40,pct50,pct60,pct70,pct80,pct90,pct100
0,200107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,200108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,200109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,200110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,200111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,200112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,200201,-0.401063,-0.024579,-0.012513,-0.007073,-0.003382,-0.001319,-0.000162,0.000599,0.002135,0.006959,0.142757
7,200202,-0.156378,-0.020099,-0.009130,-0.002307,-0.000138,0.000730,0.002077,0.004207,0.006992,0.012185,0.323956
8,200203,-0.193934,-0.020703,-0.007577,-0.001250,0.000214,0.001737,0.003357,0.005565,0.008112,0.015117,0.406330
9,200204,-0.219463,-0.016096,-0.004218,-0.000040,0.001322,0.002935,0.004399,0.006751,0.010059,0.018032,0.447375

In [51]:
R_REV = pd.read_csv('F:/pbcsf tasks/Momentum Strategy/10_groups_R_REV.csv')
R_REV.head(10)

,cusip,prc,yearmonth,numest,medest,meanest,ret,com_ret,REV,REV6
0,00036020,30.000000,200107,2.0,0.21,0.21,NaN,NaN,NaN,NaN
1,00036020,30.500000,200108,2.0,0.21,0.21,0.016667,NaN,0.000000,NaN
2,00036020,29.299999,200109,2.0,0.21,0.21,-0.039344,NaN,0.000000,NaN
3,00036020,16.900000,200110,1.0,0.21,0.21,-0.423208,NaN,0.000000,NaN
4,00036020,21.100000,200111,2.0,0.21,0.21,0.248521,NaN,0.000000,NaN
5,00036020,24.469999,200112,3.0,0.20,0.21,0.159716,NaN,0.000000,NaN
6,00036020,19.699499,200201,3.0,0.20,0.20,-0.194953,-0.343350,-0.000409,-0.000409
7,00036020,24.250000,200202,3.0,0.23,0.23,0.230996,-0.204918,0.001523,0.001114
8,00036020,27.097900,200203,2.0,0.23,0.23,0.117439,-0.075157,0.000000,0.001114
9,00036020,31.498301,200204,2.0,0.23,0.23,0.162389,0.863805,0.000000,0.001114

In [52]:
R_REV_decile = pd.merge(R_REV, bp_yearmonth, how='left', on=['yearmonth'])

In [ ]:
R_REV_decile

In [54]:
R_REV_decile.to_csv('F:/pbcsf tasks/Momentum Strategy/R_REV_decile_REV_rank.csv')

In [37]:
R_REV_10_grouped = R_REV_decile.apply(sizegrp, axis=1)

In [36]:
def sizegrp(row):
    if   (row['pct0']<=row['com_ret']<row['pct10']):
        group=1
    elif (row['pct10']<=row['com_ret']<row['pct20']):
        group=2
    elif (row['pct20']<=row['com_ret']<row['pct30']):
        group=3
    elif (row['pct30']<=row['com_ret']<row['pct40']):
        group=4
    elif (row['pct40']<=row['com_ret']<row['pct50']):
        group=5
    elif (row['pct50']<=row['com_ret']<row['pct60']):
        group=6
    elif (row['pct60']<=row['com_ret']<row['pct70']):
        group=7
    elif (row['pct70']<=row['com_ret']<row['pct80']):
        group=8
    elif (row['pct80']<=row['com_ret']<row['pct90']):
        group=9
    elif (row['pct90']<=row['com_ret']<=row['pct100']):
        group=10
    else:
        group=np.nan
    return pd.Series({'cusip':row['cusip'], 'yearmonth':row['yearmonth'],'com_ret': row['com_ret'],'REV6':row['REV6'] ,'group': group})